#head-text{
    background-color: white;
    max-width: 1170px;
}

.container {
    max-width:1170px;
    margin:0px 30px;
    background-color:magenta;
    height: 600px;
}

.board{
    width: 100vw;
    height: 100vh;
    background-color: magenta;
}

#gridBoard{
    max-width: 950px;
    height: 300px;
    margin-top: 5px;
    background-color: white;
}

label{
    display:block;
    margin-bottom: 0px;
    margin-top: 2px;
}

h1 {
    text-align:center;
}
h4{
    max-width: 180px;
    padding-top: 10px;
    border-top: 3px solid black;
    font-weight: bold;
}

#formSpeed {
    margin-left:45px;
}
button{
    width: 180px;
    margin-top: 15px;
    box-shadow: 3px 3px 5px #000000;
}
button:hover{
    box-shadow: 3px 3px 5px #360985;
    cursor: url(../images/cell.svg), auto;
}

.button{
    width: 30px;
    display: inline-block;
    padding: 30px 0px;
}
.button img{
    width: 30px;
    margin-right: 20px;
}

col-md-2{
    padding-left: 0px;
}