#head-text{
    background-color: white;
    max-width: 1170px;
}

.container {
    max-width:1170px;
    margin:0px 30px;
    background-color:magenta;
    height: 600px;
}

.board{
    width: 100vw;
    height: 100vh;
    background-color: magenta;
}

#gridBoard{
    max-width: 950px;
    height: 300px;
    margin-top: 5px;
    background-color: white;
}

h1 {
    text-align:center;

}
#parSpeed {
    margin-top:15px;
}
#formSpeed {
    margin-left:15px;
}

.button{
    width: 30px;
}