@model string
@{ 
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="container-fluid" id="head-text">
        <h1>YAPP-WED Game of Life</h1>
    </div>
    <div class="container">
        
        <div class="row">
            <div class="board col-md-10">
                <div id="gridBoard"></div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <form action="action_page.php">
                        Width<br>
                        <input type="text" name="Width" value="0">
                        <br>
                        Height<br>
                        <input type="text" name="Height" value="0">
                        <br>
                    </form>
                </div>
                <div class="row">
                    <p id="parSpeed">Speed:</p>
                </div>
                    <div class="row">
                        <form id="formSpeed">
                            <div class="row"><input type="radio" name="gender" value="slow" checked> Slow </div>
                            <div class="row"><input type="radio" name="gender" value="normal"> Normal</div>
                            <div class="row"><input type="radio" name="gender" value="fast"> Fast</div>
                        </form>
                    </div>
                <button type="button">Randomize</button>
                <div class="button">
                    <img src="~/images/playButton.svg" />
                </div>
                <div class="button">
                    <img src="~/images/pauseButton.svg" />
                </div>
                <div class="row">
                    <p>Database</p>
                        <button type="button">Save current game</button>
                        <button type="button">Load current game</button>
                </div>
            </div>

        </div>

    </div>
</div>
