@model string
@{ 
    ViewData["Title"] = "A Web Page";
}

<div>
    <div class="container-fluid wrapper" >
        <div class="row " id="head-text">
            <div class="col-xs-12 col-md-10">
                <h1>YAPP-WED Game of Life</h1>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        
        <div class="row board">
            <div class="col-md-10">
                <div id="gridBoard"></div>
            </div>
            <div class="col-md-2 myCol">
                <div>
                    <form action="action_page.php" method="get">
                        <label for="Width">Width</label>
                        <input type="text" name="Width" value="0" class="wh-box">
                        <label for="Height">Height</label>
                        <input type="text" name="Height" value="0" class="wh-box">
                        <input id="submitButton" type="submit"/>
                    </form>
                </div>
                
                <div>
                    <h4>Speed:</h4>

                    <div>
                        <form id="formSpeed">
                            <div class="block"><input type="radio" name="speed" value="slow"> Slow </div>
                            <div class="block"><input type="radio" name="speed" value="normal" checked> Normal</div>
                            <div class="block"><input type="radio" name="speed" value="fast"> Fast</div>
                        </form>
                    </div>
                 <button type="button">Randomize</button>
                        <div class="playPause">
                            <img class="button" src="~/images/playButton.svg" />
                            <img class="button" src="~/images/pauseButton.svg" />
                        </div>
                </div>
                <div>
                    <h4>Database</h4>
                        <button type="button">Save current game</button>
                        <button type="button">Load current game</button>
                </div>
            </div>

        </div>

    </div>
</div>
