@model string
@{ 
    ViewData["Title"] = "Grupp 1 - Game Of Life";
}

<div>
    <div class="container-fluid" id="head-text">
        <h1>YAPP-WED Game of Life</h1>
    </div>
    <div class="container-fluid">
        <div class="row board">
            <div class="col-md-10">
                <div id="gridBoard"></div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <form action="action_page.php">
                        <label for="Width">Width</label>
                        <input type="text" name="Width" value="0" class="wh-box">
                        <label for="Height">Height</label>
                        <input type="text" name="Height" value="0" class="wh-box">
                    </form>
                </div>
                
                <div class="row">
                    <h4>Speed:</h4>

                    <div class="row">
                        <form id="formSpeed">
                            <div class="row"><input type="radio" name="gender" value="slow"> Slow </div>
                            <div class="row"><input type="radio" name="gender" value="normal" checked> Normal</div>
                            <div class="row"><input type="radio" name="gender" value="fast"> Fast</div>
                        </form>
                    </div>
                 <button type="button">Randomize</button>
                    <div class="row">
                        <div class="button">
                            <img src="~/images/playButton.svg" />
                        </div>
                        <div class="button">
                            <img src="~/images/pauseButton.svg" />
                        </div>

                    </div>
                </div>
                <div class="row">
                    <h4>Database</h4>
                        <button type="button">Save current game</button>
                        <button type="button">Load current game</button>
                </div>
            </div>

        </div>

    </div>
</div>
