@model string
@{ 
    ViewData["Title"] = "Home Page";
}

<div>
    
    <div class="container">
        <h1>YAPP-WED Game of Life</h1>
        <div class="row">
            <div class="col-md-10">
                

            </div>
            <div class="col-md-2">
                <div class="row">
                    <form action="action_page.php">
                        Width<br>
                        <input type="text" name="Width" value="0">
                        <br>
                        Height<br>
                        <input type="text" name="Height" value="0">
                        <br>
                    </form>
                </div>
                <div class="row">
                    <p id="parSpeed">Speed:</p>
                </div>
                    <div class="row">
                        <form id="formSpeed">
                            <div class="row"><input type="radio" name="gender" value="male" checked> Slow </div>
                            <div class="row"><input type="radio" name="gender" value="female"> Normal</div>
                            <div class="row"><input type="radio" name="gender" value="other"> Fast</div>
                        </form>
                    </div>
                    <div class="row">
                        <button type="button">Randomize</button>
                    </div>
                
                <div class="row">
                    <p>Database</p>
                    <div class="row">
                        <button type="button">Save current game</button>
                    </div>
                    <div class="row">
                        <button type="button">Load current game</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
