@model string
@{ 
    ViewData["Title"] = "A Web Page";
}


    <div class="container-fluid wrapper" >
        <div class="row ">
            <div class="col-xs-7 col-md-10">
                <h1>YAPP-WED Game of Life</h1>
            </div>
            <div class="col-xs-5 col-md-2 playButton awesomeModify">
                <i class="fa fa-play-circle playBtn" aria-hidden="true"></i>
                <i class="fa fa-pause-circle pauseBtn" aria-hidden="true"></i>
                <i id="settings" class="fa fa-bars" aria-hidden="true"></i>
                @*<img class="awesomeModify pauseBtn" src="~/images/pauseButton.svg" />*@
                @*<img class="awesomeModify playBtn" src="~/images/playButton.svg" />*@
            </div>
            
        </div>
        
        <div class="row board">
            <div class="col-xs-12 col-md-10">
                <div id="gridBoard">

                </div>
            </div>
            <div class="col-md-2 settingsCol">
                <div class="col-md-2 closeButton">
                    <i id="close" class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div class="block">
                    <form id="grid-size" action="action_page.php" method="get">
                        <label for="Width">Width</label>
                        @*id="label1"*@
                        <input type="number" name="Width" value="20" id="width" class="wh-box">
                        <label for="Height">Height</label>
                        <input type="number" name="height" value="20" id="height" class="wh-box">
                    </form>
                </div>
                
                <div>
                    <h4>Speed:</h4>

                    <div class="speed">
                        <form id="formSpeed">
                            <input id="speedSlow" type="radio" name="speed" value="500"/><label for="speedSlow">Slow</label>
                            <input id="speedNormal" type="radio" name="speed" value="100" checked/><label for="speedNormal">Normal</label>
                            <input id="speedFast" type="radio" name="speed" value="20"><label for="speedFast">Fast</label>
                        </form>
                    </div>
                 <button type="button" id="randomizeBtn">Randomize</button>
                        <div class="playPause awesomeModify">
                            <i class="fa fa-play-circle playBtn" aria-hidden="true"></i>
                            <i class="fa fa-pause-circle pauseBtn" aria-hidden="true"></i>
                            @*<img class="button playBtn" onclick="" src="~/images/playButton.svg" />*@
                            @*<img class="button pauseBtn" src="~/images/pauseButton.svg" />*@
                        </div>
                </div>
                <div>
                    <h4>Database</h4>
                        <button type="button" id="saveBtn">Save current game</button>
                        <button type="button" id="loadBtn">Load current game</button>
                </div>
                
            </div>

        </div>
        
    <div id="savePop" class="modal">
        <div class="modal-content">
            <span class="close">x</span>
            <h3>Save Game</h3>
            <form>
                <label>Name</label>
                <input id="saveBar" type="text">
            </form>
            <button type="button" id="saveSave">Save</button>
        </div>
    </div>
    <div id="loadPop" class="modal">
        <div class="modal-content">
            <span class="close">x</span>
            <h3>Load Game</h3>
            <div id="showData">

            </div>
        </div>
    </div>
</div>

