@model string
@{ 
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>YAPP-WED Game of Life</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                

            </div>
            <div class="col-md-2">
                <div class="row">
                    <p>Width:</p>
                </div>
                <div class="row">
                    <p>Height:</p>
                </div>
                <div class="row">
                    <p>Speed:</p>
                </div>
                <div class="row">
                    <p>Database</p>
                </div>
            </div>

        </div>

    </div>
</div>
